.main {

  .sectionWrapper {
    width: 100%;
    position: relative;

    .animationContentContainer {

      .stickyBlock {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;

        .imagesWrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          overflow: hidden;

          .mainSlide,
          .imageContainer {
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
          }

          .imageContainer {
            background: #121212;

            .image {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
          }

          .mainSlide {
            opacity: 1;
          }
        }

        .descriptionMainSlide {
          padding: 3.2rem;
          border-radius: 2rem;
          position: absolute;
          bottom: 4.6rem;
          left: 4.3rem;
          z-index: 1;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          box-shadow: inset 2px 0 4px 0 rgba(255, 255, 255, 0.15), inset 0 0 68px 0 rgba(255, 255, 255, 0.05);
          backdrop-filter: blur(113.2px);
          background: rgba(255, 255, 255, 0.03);
          pointer-events: none;

          .title {
            font-size: 4.8rem;
          }

          .divider {
            height: 1px;
            width: 100%;
            min-width: 51.4rem;
            background: white;
          }

          .descriptionsWrapper {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            .descriptionContainer {
              display: flex;
              gap: 14rem;

              .label {
                min-width: 13.1rem;
                color: white;
                font-weight: 500;
                font-size: 2.5rem;
                line-height: 100%;
                user-select: none;
              }

              .valuesContainer {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;

                .value {
                  color: white;
                  font-weight: 500;
                  font-size: 2rem;
                  line-height: 100%;
                  user-select: none;
                }
              }

              .value {
                padding-top: 0.5rem;
                color: white;
                font-weight: 500;
                font-size: 2rem;
                line-height: 100%;
                user-select: none;
              }
            }
          }
        }

        .backButtonAndTitleBlock {
          width: 42rem;
          padding-block: 16rem 2rem;
          display: flex;
          flex-direction: column;
          gap: 4rem;
          justify-content: flex-start;
          position: absolute;
          top: 0;
          left: 3.7rem;
          background: #121212;
          opacity: 0;

          .backButton {
            width: fit-content;
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.6rem;
            color: white;

            .circle {
              transform: rotate(135deg);

              div {
                width: 2.5rem;
                height: 2.5rem;
              }
            }
          }

          .imageTitle {
            width: 100%;
            height: auto;
          }
        }

        .filtersBlock {
          width: 42rem;
          padding-block: 2rem 4.2rem;
          display: flex;
          flex-direction: column;
          gap: 2rem;
          justify-content: flex-start;
          position: absolute;
          bottom: 0;
          left: 3.7rem;
          background: #121212;
          opacity: 0;

          .filter {
            width: fit-content;
            font-size: 3.2rem;
            line-height: 3rem;
            text-transform: uppercase;
            cursor: pointer;
            user-select: none;
          }

          .activeFilter {
            color: orange;
            text-decoration: underline;
          }
        }
      }

      .slideDescriptionsContainer {
        max-width: 42rem;
        margin-left: 3.7rem;
        display: flex;
        flex-direction: column;
        gap: 50vh;
        overflow: hidden;

        .slideDescription {
          min-height: 100vh;
          display: flex;
          align-items: center;
          font-size: 2.4rem;
          line-height: 135%;
        }

        .textTop {
          align-items: flex-start;
        }

        .lastSlideDescription {
          padding-bottom: calc(100dvh - 30rem);
        }
      }
    }

    .projectLinksContainer {
      width: 100%;
      padding-inline: 3.7rem;
      margin-block: 6rem 20rem;
      display: flex;
      align-items: flex-end;
      gap: 3.5rem;

      .projectLink {
        width: calc((100% - 7rem) * 3);
        height: 34rem;
        border-radius: 2rem;
        position: relative;
        overflow: hidden;

        &:hover {
          .image {
            filter: grayscale(0) brightness(100%);
          }

          .projectLinkContent {
            .titleContainer {
              .projectLinkIcon {
                opacity: 1;
              }
            }
          }
        }

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%) brightness(60%);
          transition: filter 300ms;
        }

        .projectLinkContent {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          position: absolute;
          bottom: 3.5rem;

          .position {
            width: 100%;
            font-size: 1.6rem;
          }

          .titleContainer {
            display: flex;
            gap: 0.8rem;

            .projectLinkTitle {
              font-size: 4.8rem;
            }

            .projectLinkIcon {
              transform: rotate(225deg);
              opacity: 0;
              transition: opacity 300ms;
            }
          }
        }

        .left {
          left: 2.8rem;
        }

        .center {
          bottom: 10.5rem;
          left: 50%;
          transform: translateX(-50%);
        }

        .right {
          right: 2.8rem;
        }
      }

      .centerLink {
        margin-bottom: 17rem;
      }
    }
  }
}
